.taxonomy-tree-container details {
  margin-top: 0;
  margin-bottom: 0;
}

.taxonomy-tree--scrollable > .taxonomy-tree-root {
  overflow-y: scroll;
  max-height: 400px;
  margin-bottom: 1rem;
}

ul.taxonomy-tree-root {
  list-style-type: none; /* Remove bullets */
  margin: 0; /* Remove margins */
}

.taxonomy-tree-root .taxonomy-tree-root {
  margin: 0 0 0 1.65em; /* space tree */
}

.taxonomy-tree .form-type-checkbox:focus-within {
  outline: 1px solid blue;
}

.taxonomy-tree >.taxonomy-tree-root {
  padding: 0rem 1rem 2rem;
  border: 1px solid #999;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.taxonomy-tree,
.taxonomy-tree.accordion__item:last-child {
  margin-bottom: 1.5rem;
}

@media (min-width: 48em) {
  .form-wrapper .claro-details__wrapper {
    margin: 0 1.5rem;
  }
}
