{#
/**
 * @file
 * Default theme implementation for an 'taxonomy_tree' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_taxonomy_tree()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ children }}
</div>
