{#
/**
 * @file
 * Default theme implementation for the item-level 'taxonomy_tree' items.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_taxonomy_tree_item()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {% for child in children %}
    <li{{ child.attributes.addClass('taxonomy-tree-children') }}>
      {{ child }}
    </li>
  {% endfor %}
</div>
