{#
/**
 * @file
 * Default theme implementation for the root-level 'taxonomy_tree' items.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_taxonomy_tree_root()
 *
 * @ingroup themeable
 */
#}
<ul{{ attributes }}>
  {{ children }}
</ul>
